doctype html
html
  head
    title Rayakan | Bersama wujudkan ide         
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')        
    meta(http-equiv='X-UA-Compatible', content='IE=edge')         
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='icon', href='favicon.ico', type='image/x-icon')         
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')        
    link(rel='stylesheet', href='assets/public/css/normalize.css')        
    link(rel='stylesheet', href='assets/public/css/jquery.sidr.light.css')         
    link(rel='stylesheet', href='assets/public/css/animate.min.css')        
    link(rel='stylesheet', href='assets/public/css/md-slider.css')        
    link(rel='stylesheet', href='assets/public/css/style.css')         
    link(rel='stylesheet', href='assets/public/css/responsive.css')

    script(type='text/javascript', src='assets/public/js/raphael-min.js')        
    script(type='text/javascript', src='assets/public/js/jquery-1.9.1.min.js')        
    script(type='text/javascript', src='assets/public/js/jquery-migrate-1.2.1.min.js')        
    script(type='text/javascript', src='assets/public/js/jquery.touchwipe.min.js')        
    script(type='text/javascript', src='assets/public/js/md_slider.min.js')         
    script(type='text/javascript', src='assets/public/js/jquery.sidr.min.js')        
    script(type='text/javascript', src='assets/public/js/jquery.tweet.min.js')        
    script(type='text/javascript', src='assets/public/js/pie.js')        
    script(type='text/javascript', src='assets/public/js/script.js')
  body
    #wrapper
      header#header
        .container_12.clearfix
          .grid_12.header-content
            #sys_header_right.header-right
              .account-panel
                a.fw-b.be-fc-orange(href='/register') Daftar
                |                         
                a  | 
                |                         
                a.fw-b.be-fc-orange(href="/login") Log In
              |                     
              .form-search
                form(action='#')
                  label(for='sys_txt_keyword')
                    input#sys_txt_keyword.txt-keyword(type='text', placeholder='Cari event')
                  |                             
                  button.btn-search(type='reset')
                    i.icon.iMagnifier
                  |                             
                  button.btn-reset-keyword(type='reset')
                    i.icon.iXHover
            |                 
            .header-left
              h1#logo
                a(href='index.html')
                  img(src='assets/public/images/logo.png', alt='$SITE_NAME')
              |                     
              .main-nav.clearfix
                .nav-item
                  a.nav-title(href='/category') Jelajahi
                  |                             
                  p.rs.nav-description Ide Terbaik
                |                         
                span.sep
                |                         
                .nav-item
                  a.nav-title(href='/start') Mulai
                  |                             
                  p.rs.nav-description Ide Besarmu
#home-slider
    #md-slider-1.md-slide-items.md-slider(data-thumb-width='105', data-thumb-height='70')
        .md-slide-item.slide-0(data-timeout='6000')
          .md-mainimg
            img(src='assets/public/images/ex/th-slide0.jpg', alt='')
          .md-objects
            .md-object.rs.slide-title(data-x='20', data-y='38', data-width='480', data-height='30', data-start='700', data-stop='5500', data-easein='random', data-easeout='keep')
              p Search Money for Your Creative Ideas?
            .md-object.rs.slide-description(data-x='20', data-y='160', data-width='480', data-height='90', data-start='1400', data-stop='7500', data-easein='random', data-easeout='keep')
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.
            .md-object.rs(data-x='20', data-y='260', data-width='120', data-height='23', data-padding-top='9', data-padding-bottom='7', data-padding-left='10', data-padding-right='10', data-start='1800', data-stop='7500', data-easein='random', data-easeout='keep')
              a.btn.btn-gray(href='#') Learn more
            .md-object(data-x='495', data-y='0', data-width='612', data-height='365', data-start='1800', data-stop='7500', data-easein='fadeInRight', data-easeout='keep', style='')
              img(src='assets/public/images/ex/th-slide-man.png', alt='Search Money for Your Creative Ideas', width='612', height='365')
        .md-slide-item.slide-1(data-timeout='6000')
          .md-mainimg
            img(src='assets/public/images/ex/th-slide1.jpg', alt='')
          .md-objects
            .md-object.rs.slide-title(data-x='20', data-y='188', data-width='390', data-height='30', data-start='700', data-stop='5500', data-easein='random', data-easeout='random')
              p A creative engine
            .md-object.rs.slide-description2(data-x='20', data-y='250', data-width='390', data-height='100', data-start='1400', data-stop='4500', data-easein='random', data-easeout='random')
              p Mauris volutpat, lectus vitae pretium sagittis, turpis augue euismod libero
            .md-object(data-x='454', data-y='44', data-width='327', data-height='268', data-start='1000', data-stop='5500', data-easein='random', data-easeout='random', style='')
              img(src='images/ex/slide1_1.png', alt='Responsive', width='327', height='268')
            .md-object(data-x='628', data-y='142', data-width='298', data-height='176', data-start='1600', data-stop='5100', data-easein='random', data-easeout='random', style='')
              img(src='images/ex/slide1_2.png', alt='Responsive', width='298', height='176')
            .md-object(data-x='837', data-y='169', data-width='119', data-height='149', data-start='2200', data-stop='4800', data-easein='random', data-easeout='random', style='')
              img(src='images/ex/slide1_3.png', alt='Responsive', width='119', height='149')
            .md-object(data-x='809', data-y='208', data-width='59', data-height='114', data-start='2800', data-stop='4500', data-easein='random', data-easeout='random', style='')
              img(src='images/ex/slide1_4.png', alt='Responsive', width='59', height='114')
        .md-slide-item.slide-2(data-timeout='4000')
          .md-mainimg
            img(src='assets/public/images/ex/th-slide2.jpg', alt='')
          .md-objects
            .md-object.slide-with-background(data-x='20', data-y='58', data-width='500', data-height='170', data-padding-top='30', data-padding-bottom='30', data-padding-left='35', data-padding-right='35', data-start='300', data-stop='3600', data-easein='random', data-easeout='keep')
              h2.rs.slide-title Start your project today
              p.rs.slide-description2
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.

.home-feature-category
    .container_12.clearfix
        .grid_8.marked-category
          .wrap-title.clearfix
            h2.title-mark.rs
              | Pilihan : 
              span.fc-orange Musik
            |                     
            a.count-project.be-fc-orange(href='category.html')
              | Lihat semua 
              span.fw-b 24
              |  Proyek Musik
          |                 
          .box-marked-project.project-teaser
            .top-teaser-info
              .content-info-teaser.clearfix
                a.thumb-img(href='#')
                  img(src='assets/public/images/ex/th-292x204-1.jpg', alt='$TITLE')
                |                             
                .wrap-short-detail
                  h3.rs.acticle-title
                    a.be-fc-orange(href='project.html') LYK and Bear #1: No Food Deed Unpunished
                  |                                 
                  p.rs.tiny-desc
                    | by 
                    a.fw-b.fc-gray.be-fc-orange(href='profile.html') Ray Sumser
                    |  in 
                    span.fw-b.fc-gray New York, NY
                  |                                 
                  p.rs.title-description
                    | Nam sit amet est sapien, a faucibus purus. Sed commodo facilisis tempus. Pellentesque placerat elementum adipiscing.
                |                             
                p.rs.clearfix.comment-view
                  a.fc-gray.be-fc-orange(href='#') 75 komentar
                  |                                 
                  span.sep |
                  |                                 
                  a.fc-gray.be-fc-orange(href='#') 378 view
            //- end: .top-project-info
            .bottom-teaser-info.clearfix
              .project-teaser.teaser-progress.sys_circle_progress(data-percent='22')
                .sys_holder_sector
              |                         
              .group-fee.clearfix
                .fee-item
                  p.rs.lbl Supporter
                  |                                 
                  span.val 270
                |                             
                .sep
                |                             
                .fee-item
                  p.rs.lbl Terkumpul
                  |                                 
                  span.val Rp 38.000.000
                |                             
                .sep
                |                             
                .fee-item
                  p.rs.lbl Sisa Hari
                  |                                 
                  span.val 25
              |                         
              .clear
        // end: .marked-category
        .grid_4.left-lst-category
          .wrap-lst-category
            h3.title-welcome.rs Welcome to Rayakan
            |                     
            p.description.rs
              | Pellentesque laoreet sapien id lacus luctus non fringilla elit lobortis. Fusce augue diam, tempor posuere pharetra sed, feugiat non sapien.
            |                     
            nav.lst-category
              ul.rs.nav.nav-category
                li
                  a(href='#')
                    | Art
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li.active
                  a(href='#')
                    | Comics
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li
                  a(href='#')
                    | Design
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li
                  a(href='#')
                    | Fashion
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li
                  a(href='#')
                    | Film
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li
                  a(href='#')
                    | Games
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
                |                             
                li
                  a(href='#')
                    | Music
                    span.count-val (12)
                    |                                     
                    i.icon.iPlugGray
              |                         
              p.rs.view-all-category
                a.be-fc-orange(href='category.html') + Lihat semua
            // end: .lst-category
        // end: .left-lst-category
        .clear
    // end: .home-feature-category
    .home-popular-project
      .container_12
        .grid_12.wrap-title
          h2.populer-title Terpopuler
          |                 
          br
          |                 
          a.be-fc-orange(href='category.html') + LIHAT SEMUA
        |             
        .clear
        |             
        .lst-popular-project.clearfix
          .grid_4
            .project-short.sml-thumb
              .top-project-info
                .content-info-short.clearfix
                  a.thumb-img(href='#')
                    img(src='assets/public/images/ex/th-292x204-1.jpg', alt='$TITLE')
                  |                                 
                  .wrap-short-detail
                    h3.rs.acticle-title
                      a.be-fc-orange(href='project.html') Project title
                    |                                     
                    p.rs.tiny-desc
                      | by 
                      a.fw-b.fc-gray.be-fc-orange(href='profile.html') John Doe
                    |                                     
                    p.rs.title-description
                      | Nam sit amet est sapien, a faucibus purus. Sed commodo facilisis tempus. Pellentesque placerat elementum adipiscing.
                    |                                     
                    p.rs.project-location
                      i.icon.iLocation
                      |                                         New York, NY
              |                         
              .bottom-project-info.clearfix
                .line-progress
                  .bg-progress
                    span(style='width: 50%')
                |                             
                .group-fee.clearfix
                  .fee-item
                    p.rs.lbl Funded
                    |                                     
                    span.val 50%
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Pledged
                    |                                     
                    span.val $38,000
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Days Left
                    |                                     
                    span.val 25
          // end: .grid_3 > .project-short
          .grid_4
            .project-short.sml-thumb
              .top-project-info
                .content-info-short.clearfix
                  a.thumb-img(href='#')
                    img(src='assets/public/images/ex/th-192x135-1.jpg', alt='$TITLE')
                  |                                 
                  .wrap-short-detail
                    h3.rs.acticle-title
                      a.be-fc-orange(href='project.html') Project title
                    |                                     
                    p.rs.tiny-desc
                      | by 
                      a.fw-b.fc-gray.be-fc-orange(href='profile.html') John Doe
                    |                                     
                    p.rs.title-description
                      | Nam sit amet est sapien, a faucibus purus. Sed commodo facilisis tempus. Pellentesque placerat elementum adipiscing.
                    |                                     
                    p.rs.project-location
                      i.icon.iLocation
                      |                                         New York, NY
              |                         
              .bottom-project-info.clearfix
                .line-progress
                  .bg-progress
                    span.success(style='width: 98%')
                |                             
                .group-fee.clearfix
                  .fee-item
                    p.rs.lbl Funded
                    |                                     
                    span.val 98%
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Pledged
                    |                                     
                    span.val $25,000
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Days Left
                    |                                     
                    span.val 18
          //- end: .grid_3 > .project-short
          .grid_4
            .project-short.sml-thumb
              .top-project-info
                .content-info-short.clearfix
                  a.thumb-img(href='#')
                    img(src='assets/public/images/ex/th-192x135-3.jpg', alt='$TITLE')
                  |                                 
                  .wrap-short-detail
                    h3.rs.acticle-title
                      a.be-fc-orange(href='project.html') Project title
                    |                                     
                    p.rs.tiny-desc
                      | by 
                      a.fw-b.fc-gray.be-fc-orange(href='profile.html') John Doe
                    |                                     
                    p.rs.title-description
                      | Nam sit amet est sapien, a faucibus purus. Sed commodo facilisis tempus. Pellentesque placerat elementum adipiscing.
                    |                                     
                    p.rs.project-location
                      i.icon.iLocation
                      |                                         New York, NY
              |                         
              .bottom-project-info.clearfix
                .line-progress
                  .bg-progress
                    span(style='width: 50%')
                |                             
                .group-fee.clearfix
                  .fee-item
                    p.rs.lbl Funded
                    |                                     
                    span.val 50%
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Pledged
                    |                                     
                    span.val $138,662
                  |                                 
                  .sep
                  |                                 
                  .fee-item
                    p.rs.lbl Days Left
                    |                                     
                    span.val 44
          //- end: .grid_3 > .project-short
    //- end: .home-popular-project
    .home-discover-friends
      .container_12
        .row-friends
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-1.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-2.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-3.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-4.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-5.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-6.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-7.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-8.jpg', alt='$USER_NAME')
          |                 
          .clear
        |             
        .row-friends.row-connect-fb
          a.thumb-avatar.t-first(href='#')
            img(src='assets/public/images/ex/th-119x119-17.jpg', alt='$USER_NAME')
          |                 
          .connect-fb
            p.rs.description Discover great projects with your friends!
            |                     
            a.btn.btn-fb(href='#') Connect With Facebook
          |                 
          a.thumb-avatar.t-last(href='#')
            img(src='assets/public/images/ex/th-119x119-1.jpg', alt='$USER_NAME')
          |                 
          .clear
        |             
        .row-friends
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-9.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-10.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-11.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-12.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-13.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-14.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-15.jpg', alt='$USER_NAME')
          |                 
          a.thumb-avatar(href='#')
            img(src='assets/public/images/ex/th-119x119-16.jpg', alt='$USER_NAME')
          |                 
          .clear
    //- end: .home-discover-friends
    .additional-info-line
      .container_12
        .grid_12
          center
            h2.rs.title Vestibulum tristique, purus eget euismod vulputate, nisl erat suscipit mi!
          |                 
          center
            p.rs.description
              | Duis placerat malesuada sapien, eu consequat mauris vestibulum vitae. Aliquam fermentum lorem ut leo ultricies semper. In sed ligula massa, vitae elementum mauris.
        |             
        .grid_12.ta-r
          center
            a.btn.bigger.btn-red(href='#') Learn more
        |             
        .clear

footer#footer
    .container_12.main-footer
        .grid_4.about-us
          h3.rs.title Tentang Kami
          |                 
          p.rs.description
            | Donec rutrum elit ac arcu bibendum rhoncus in vitae turpis. Quisque fermentum gravida eros non faucibus. Curabitur fermentum, arcu sed cursus commodo.
          |                 
          p.rs.email
            a.fc-default.be-fc-orange(href='mailto:info@megadrupal.com') info@megadrupal.com
          |                 
          p.rs.description +1 (555) 555 - 55 - 55
        //- end: .contact-info
        .grid_4
          h3.rs.title Bantuan
          |                 
          .footer-menu
            ul.rs.link
              li
                a.menu-foot.be-fc-orange(style='color:#fff', href='#') F.A.Q
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Pusat Bantuan
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Stats
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Term of Use
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Privacy Policy
            |                     
            ul.rs
              li
                a.be-fc-orange(style='color:#fff', href='#') Staff Picks
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Popular
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Recent
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Small Projects
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Most Funded
            |                     
            .clear
        |             
        .grid_4
          h3.rs.title Discover &amp; Create
          |                 
          .footer-menu
            ul.rs.link
              li
                a.menu-foot.be-fc-orange(style='color:#fff', href='#') What is Kickstars
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Start a project
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Project Guidlines
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Press
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Stats
            |                     
            ul.rs
              li
                a.be-fc-orange(style='color:#fff', href='#') Staff Picks
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Popular
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Recent
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Small Projects
              |                         
              li
                a.be-fc-orange(style='color:#fff', href='#') Most Funded
            |                     
            .clear
        |             
        .clear        
      .copyright
        .container_12
          .grid_12
            a.logo-footer(href='#')
              img(src='assets/public/images/logo-2.png', alt='')                    
            a.rs.term-privacy(href='http://ajk.if.its.ac.id')
              img(src='assets/public/images/ajk.png', alt='AJK Laboratory')
            p.rs.ta-c.fc-gray-dark.site-copyright
              | HTML by 
              a(href='http://megadrupal.com', title='Drupal Developers', target='_blank') MegaDrupal
              | . Designed by 
              a(href='http://bestwebsoft.com/', title='Web development company', target='_blank') BestWebSoft
              | .
          |                 
          .clear
    //- end: #footer

