doctype html.body-full-height(lang='en')
head
    //- META SECTION
    title Login | Rayakan         
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')         
    meta(name='viewport', content='width=device-width, initial-scale=1')         
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    //- END META SECTION
    //- LESSCSS INCLUDE
    link(rel='stylesheet/less', type='text/css', href='assets/admin/css/styles.less')       
    script(type='text/javascript', src='assets/admin/js/plugins/lesscss/less.min.js')
    //- EOF LESSCSS INCLUDE    
  body
    .login-container.lightmode
      .login-box.animated.fadeInDown
        a.login-logo(href='/')
        //- <div class="login-logo"></div>
        .login-body
          .login-title
            strong Log In
            |  ke akun anda.
          |                     
          form.form-horizontal(action='index.html', method='post')
            .form-group
              .col-md-12
                input.form-control(type='text', placeholder='Username', required)
                                 
            .form-group
              .col-md-12
                input.form-control(type='password', placeholder='Password', required)
                                
            .form-group
              .col-md-6
                a.btn.btn-link.btn-block(href='#') Lupa password? 
              |                         
              .col-md-6
                button.btn.btn-info.btn-block Log In
            |                     
            .login-or OR
            |                     
            .form-group
              .col-md-4
                button.btn.btn-info.btn-block.btn-twitter
                  span.fa.fa-twitter
                  |  Twitter
              |                         
              .col-md-4
                button.btn.btn-info.btn-block.btn-facebook
                  span.fa.fa-facebook
                  |  Facebook
              |                         
              .col-md-4
                button.btn.btn-info.btn-block.btn-google
                  span.fa.fa-google-plus
                  |  Google
            |                     
            .login-subtitle
              | Belum memiliki akun? 
              a(href='/register') Buat akun.
